[submodule "examples/CSharpEditorPlugin"]
	path = examples/CSharpEditorPlugin
	url = https://github.com/PrashantUnity/CSharpPlayground.git
[submodule "examples/MusicPlayerPlugin"]
	path = examples/MusicPlayerPlugin
	url = https://github.com/PrashantUnity/MusicPlayerPlayground.git
